.item {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
        flex-basis: 60%;

        a {
            display: flex;
            align-items: center;

            .place {
                margin-right: 12px;
                font-size: 13px;
            }

            .title {
                font-size: 15px;
                font-weight: 500;
            }

            img {
                padding-right: 8px !important;
            }
        }

        &:hover {
            color: #3766a9;
        }
    }

    .ratingNumber {
        flex-grow: 1;
    }
}
