.profileInfo {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    margin-bottom: 25px;

    .information {
        .avatar {
            border-radius: 6px;
            height: 112px;
            width: 112px;
        }

        .fullname {
            margin-top: 8px;
            font-size: 36px;
            font-weight: 700;
        }

        .carmaAndFollowers {
            display: flex;
            margin-top: 15px;

            .carma {
                font-weight: 700;
                color: #35ab66;
                margin-right: 10px;
            }
        }

        .dataOfRegistration {
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
        }
    }

    .buttons {
        display: flex;

        .whiteBtn {
            width: 44px;
            height: 40px;

            svg {
                height: 24px;
                width: 24px;
            }
        }

        .blueBtn {
            margin-left: 8px;
            width: 137px;
            height: 40px;
            color: #fff;
            background-color: #437cce;

            span {
                padding: 0 4px 0 8px;
            }
        }
    }
}

.profileCategotyElements {
    display: flex;

    .followers {
        height: 100%;
        width: 300px;
        border-radius: 8px;
        padding: 15px 20px 16px 20px;
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;

        .avatars {
            display: flex;
            margin-top: 15px;
        }
    }
}
