.comment {
    margin-bottom: 30px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .left {
            display: flex;
            align-items: center;

            .info {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        color: #3766a9;
                    }
                }

                time {
                    font-size: 12px;
                    color: #595959;

                    &:hover {
                        color: #3766a9;
                    }
                }
            }
        }
    }

    .text {
        padding-right: 70px;
        margin-bottom: 7px;

        span {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .footer {
        display: flex;
        align-items: center;

        span {
            font-size: 14px;
            margin-right: 16px;
            color: #595959;
            cursor: pointer;

            &:hover {
                color: #3766a9;
            }
        }

        .dots {
            width: 16px;
            height: 16px;
        }
    }
}
