.ratings {
    margin: 15px auto 0 auto;
    max-width: 640px;

    .categories {
        display: flex;
        align-items: center;
        padding: 15px 20px;

        .title {
            font-size: 15px;
            font-weight: 500;
            flex-basis: 60%;
        }

        .rating {
            font-size: 13px;
            font-weight: 400;
            color: #595959;
        }
    }

    .showMore {
        display: flex;
        align-items: center;
        padding: 15px 20px 15px 38px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;

        &:hover {
            color: #3766a9;
        }
    }
}
